<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortener</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    </style>
  </head>
  <body>
    <h1>
      FreeCodeCamp URL Shortener Microservice
    </h1>
    <p>
      User stories:
    </p>
    <ul>
      <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
      </li>
      <li>When I visit that shortened URL, it will redirect me to my original link.
      </li>
    </ul>
    <p>
      try me:
    </p>
    <h2> add /short/<em>the url you wish</em><br>to this page's url.<br>
    don't forget http(s)://!</h2>
    <p>
      examples:<br>
      <a href="http://localhost:7777/short/https://www.google.com">http://localhost:7777/short/https://www.google.com</a><br>
      <a href="http://localhost:7777/short/https://www.instagram.com">http://localhost:7777/short/https://www.instagram.com</a><br>
      <a href="http://localhost:7777/short/https://www.qwant.com">http://localhost:7777/short/https://www.qwant.com</a><br>
      <a href="http://localhost:7777/short/www.twitter.com">http://localhost:7777/short/www.twitter.com(wrong!!)</a>
    </p>
  <footer>

    </footer>
  
    <script></script>